

.chatDesc {
  color: white;
  z-index: 100;
  background-color: black;
  width: 100%;
}

.header-actions {
  margin-top: 54px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  right: 32px;
  z-index: 1000;
}
